images
labels/label_studio_json_labels
labels/label_studio_prepared_images
trained_models/*
!trained_models/README.md
videos
21_01_25.zip
loss_data.csv
train/predictor_loss.csv
train/detector_loss.csv
train/classifier_loss.csv
.venv
.idea
training_data/*
!training_data/README.md
train/testing_data
